### Example user template

# IntelliJ project files
.idea
*.iml

/node_modules
/packages/tokens/node_modules
/packages/eslint-config/node_modules
/packages/react/node_modules
/packages/docs/node_modules


